<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Detail <%= eventId %></title>
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="/scripts/common.js"></script>
  </head>
  <body>
    <h1>This is the Event Detail Page for Event ID: <%= eventId %></h1>
  </body>
</html>
