<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <!-- Google tag (gtag.js) -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1LSM9BVXE9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-1LSM9BVXE9");
      gtag("event", "웹테스트", { test: "test" });
    </script>
    <script>
      var btn_click = function () {
        dataLayer.push({ event: "btn_click" });
      };
    </script>
  </head>
  <body>
    <h1>Welcome to the Main Page</h1>
    <a href="/product-list" style="display: block">Go to Product List</a>
    <button onclick="btn_click()">dataLayer.push({'event':'btn_click'})</button>
  </body>
</html>
