/* 메인 */
.banner-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
}

.banner-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.banner-item {
  min-width: 100%;
  box-sizing: border-box;
  position: relative; /* Ensures h2 is positioned relative to this container */
}

.banner-item img {
  width: 100%;
  display: block;
}

.banner-item h2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  z-index: 10; /* Ensure h2 is on top of the image */
  margin: 0; /* Reset any default margins */
  box-sizing: border-box;
}

/* 상품 상세  */
.container {
  display: flex;
  align-items: flex-start;
}

.image {
  margin-right: 20px;
}

.product-options {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-controls button {
  width: 30px;
  height: 30px;
}

.product-options button {
  padding: 10px 20px;
  font-size: 16px;
}
